.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
}

img{
	object-fit:cover;
}

.img-con{
	width:60%;
}
.text-con{
	width:40%;
}

button{
	padding:20px;
	color:white;
	background-color:red;
	border-radius:5px;
}