.hero{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width:100vw;
}
img{
	width:80%;
	object-fit:cover;
}



.text-con{
	text-align:center;
	width:20%;
	padding:20px;
}

button{
	padding:20px;
	color:white;
	background-color:red;
	border-radius:5px;
}